#Banner img{

    width: 100% !important;
    height: 60vh;
}
#Especialidades {
    margin: 10vh 0px;
}
#Especialidades h1 {
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
}
#Especialidades img {
    width: 50%;
}

#Especialidades div {
    margin: 0 40px;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(39, 39, 39,0.5);
}

#Eventos {
    padding: 10vh 0px;
    background: #343a40;
}

#Eventos .card {
    width: 30%!important;
    margin: 20px 10px;
}

#Integrantes {
    padding: 5vh 0px;
}
#Integrantes .perfil{
    padding: 10px;
    margin: 25px;
    border: 1px solid #343a40;
    border-radius: 10px;
}

#Integrantes .perfil img{
    width: 50%;
    background: #25292e7e;
    border-radius: 10px;
}